* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box; /* Fix missing colon and add missing property */
}
body{
    background: #02023a;
}
.container{
  position: relative; 
  width: 100%; 
  height: 100vh;
  overflow: hidden;
}
.bubbles{
  position: relative;
  display: flex;  
}
.bubbles span{
   position: relative;
   width: 30px;
   height: 30px;
   background: #4fc3dc; 
   margin: 0 4px;
   border-radius: 50%;
   box-shadow: 0 0 0 10px #4fc3dc44,
   0 0 50px #4fc3dc,
   0 0 100px #4fc3dc;
   animation: animate 15s linear infinite;
   animation-duration: calc(200s/ var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;   
}
@keyframes animate{
 0%{
    transform: translateY(100vh) scale(1);
 }   
 100%{
   transform: translateY(-10vh) scale(1); 
 }
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #075de9;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom:black 30px;
}
.quiz{
    padding: 20px 0;   
}
.quiz h2{
    font-size: 18px;
    color: black;
    font-weight: 600;
}
.btn{
        background: #fff;
        color: #222; /* Added hash symbol before color value */
        font-weight: 500;
        width: 100%;
        border: 1px solid #222;
        padding: 10px;
        margin: 10px 0;
        text-align: left; /* Added semicolon */
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s;
    }
    
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #013ea1; 
    color: #000000;
    font-weight: 500; 
    width: 150px; 
    border: 0;
    padding: 10px;
    margin: 20px auto 0; 
    border-radius: 4px; 
    cursor: pointer;
    display: none; 
    transition: all 0.4;
}
.correct{
   background: #9aeabc; 
}
.incorrect{
    background: #ee0707; 
 }

